requests 
flask
flask-cors
flask-sqlalchemy
sqlalchemy
python-dotenv
werkzeug
jinja2
itsdangerous
click
markupsafe
pytz
six
google-api-python-client==2.86.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
flask_jwt_extended
dotenv
pandas
mysql
mysql-connector-python
bcrypt
reportlab==3.6.12
matplotlib==3.7.1
numpy==1.24.3
matplotlib
reportlab
flask_bcrypt
dash==2.9.0
pytest
